<!-- <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ALPHA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Motos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Motos</a></li>
              <li><a class="dropdown-item" href="#">Peças</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>



  



  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www3.yamaha-motor.com.br/file/v8941773054107341812/products/1385.faixa2.detalhe.desktopp.jpg  " class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>R3 MONSTER ABS</h5>
          <p>A performance esportiva que você sempre buscou. Com 321 cc, desenvolve 42 cv e 3,0 kgf.m de torque. Conta com a exclusiva tecnologia DiASil que contribui para menor vibração, melhor dissipação de calor e ganho de performance.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v7296511423247213616/products/30016.faixa2_01.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>Factor 125I UBS</h5>
          <p>A Factor 125I UBS é a escolha perfeita para quem procura uma moto resistente para o uso diário. O motor durável e econômico, conta com a tecnologia Glueflex, para você escolher entre gasolina, etanol ou ambos, o que for mais econômico.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v2304161138877180912/products/6.red.faixa2.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-sm-block">
          <h5>Red Dragonfly</h5>
          <p>Em 1955, no Japão Pós Guerra, nascia a Red Dragonfly - a primeira Yamaha do mundo, um marco para o início a história da Yamaha Motor.
            Criada pelas mãos que projetavam o futuro, a Red Dragonfly representava o DNA vencedor e inovador da Yamaha.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row">
    <div class="col">
      <img src="https://www3.yamaha-motor.com.br/file/v462252262994624595/general/BANNER_02.01%20-%20DESTAQUE.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col">
      <img src="https://www3.yamaha-motor.com.br/file/v3890930936833524085/general/Faixa2_B_home-R3-azul.png" class="img-fluid" alt="...">
    </div>
  </div>

  <div class="row">
    <div class="col" id="loc">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_A_home_v1.jpg&height=970&width=770" class="img-fluid" alt="...">
    </div>
    <div class="col" id="loc">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920" class="img-fluid" alt="...">
    </div>
    <div class="col" id="loc">
      <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_C_home.jpg&height=1080&width=1920" class="img-fluid" alt="...">
    </div>
  </div>


  <div class="bottom"><h6>ALPHA MOTORS</h6></div>


   -->

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ALPHA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cadastro</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Motos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Motos</a></li>
              <li><a class="dropdown-item" href="#">Peças</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>

   <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www3.yamaha-motor.com.br/file/v4147012198467181892/products/1387.faixa3.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v1038240569630162007/products/30017.faixa3.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://www3.yamaha-motor.com.br/file/v1708082516357746076/products/30020.faixa3_new.detalhe.desktop.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_A_home_v1.jpg&height=970&width=770" class="img-fluid" alt="...">
        <div class="text">
          <h1>
            SERVIÇOS
          </h1>
        </div>
      </div>
      <div class="col-4">
        <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920" class="img-fluid" alt="...">
        <div class="text">
          <h1>
            PEÇAS 
          </h1>
        </div>
      </div>
      <div class="col-4">
        <img src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_C_home.jpg&height=1080&width=1920" class="img-fluid" alt="...">
        <div class="text">
          <h1>
            ALPHALUBE
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom"><h6>ALPHA MOTORS</h6></div>

  <div class="botttom"><h2>QUEM SOMOS?</h2></div>