.row{
    margin-top: 30px;
}

.carousel-item{
    margin-top: 30px;
    max-height: 90%;
}


.bottom{
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 20px;
    background-color: rgb(99, 73, 250);
    margin-top: 30px;
    text-align: center;
    color: white;
    position: sticky;
}

.botttom{
    max-width: 100%;
    max-height: 100%;
    width: 2000px;
    height: 200px;
    background-color: rgb(85, 85, 85);
    text-align: center;
    color: rgb(255, 255, 255);
}

.text{
    text-align: center;
    margin-top: 20px;
}
.col{
    margin-left: 115px;
}